<!DOCTYPE html>
<body class="home">
    <% include app/head %>
    <% include app/header %>

    <div class="screen screen-one-def">
        <video preload="preload" autoplay="autoplay" muted="muted" loop="loop">
            <source src="/static/video/bg_one.mp4" type="video/mp4">
        </video>

        <div class="one-title">
            <p>Креатив в каждом <br> пикселе<span>.</span></p>
            <h1>Делаем веб-сайты уникальными, <br> чистыми и продающими.</h1>
        </div>

        <div class="foot">
            <div class="side-left">
                <a href="#order">Начать проект</a>
            </div>
            <a href="#about" class="smooth">
                <div class="def-btn side-middle">
                    <img src="/static/img/svg/arr_mim-yel.svg" alt="">
                </div>
            </a>
            <div class="side-right">
                <a href="#">Instagram</a>
                <a href="#">Behance</a>
                <a href="#">Telegram</a>
            </div>
        </div>
    </div>

    <div class="def-margin"></div>

    <div class="screen screen-about def-width">
        <div class="def-top-title-rb">
            <span>2018 - 2019</span>
            <h2>Как мы работаем:</h2>

            <p class="def-text">Вместе мы создаем успешные продукты с уникальными идеями, 
                    готовые бросить вызов неожиданностью дизайна и удобством 
                    функционала и удивить и восхитить клиента.</p>
        </div>


        <div class="sides">
            <div class="item">
                <span class="title">Решения полного цикла</span>
                <p class="def-text">Если Вам нужен новый продукт или ребрендинг 
                        существующего, чтобы вырваться вперед и 
                        стать более конкурентоспособными.</p>
            </div>
            <div class="item">
                <span class="title">Простые и эффективные решения</span>
                <p class="def-text">Мы находим решение под вашу задачу: от продажи 
                        товаров до имиджевой истории.
                        Урерживаем посетителя на сайте и превращаем его
                        из потенциального в постоянного.</p>
            </div>
        </div>
    </div>

    <div class="def-margin"></div>

    <div class="screen def-bg-red">
        <div class="wrapper def-width">
            <div class="def-margin"></div>

            

            <div class="def-margin"></div>
        </div>
    </div>

</body>

<% include app/footer %>
