<header>
    <div class="side-left">
        <a href="/"><img src="/static/img/svg/logo.svg" alt=""></a>
    </div>
    <div class="side-right">
        <div class="links">
            <ul>
                <li><a href="/projects"><span>Проекты</span></a></li>
                <li><a href="/about"><span>О нас</span></a></li>
                <li><a href="#order"><span>Сделать запрос</span></a></li>
                <li><a href="/contact"><span>Контакты</span></a></li>
            </ul>
        </div>

        <a href="#menu" class="logo">
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="18" viewBox="0 0 32 18">
                <g id="Group_84" data-name="Group 84" transform="translate(-1737 -45)">
                    <rect id="Rectangle_34" data-name="Rectangle 34" width="32" height="2" transform="translate(1737 45)"/>
                    <rect id="Rectangle_35" data-name="Rectangle 35" width="28" height="2" transform="translate(1741 53)"/>
                    <rect id="Rectangle_36" data-name="Rectangle 36" width="21" height="2" transform="translate(1748 61)"/>
                </g>
            </svg>                      
        </a>
    </div>
</header>